body {
    margin: 0%;
    background-color: antiquewhite;
}
.overskrift {
    text-align: center;
}
h1 {
    font-family: sans-serif;
}
h2 {
    font-family: sans-serif;
}
h3 {
    font-family: sans-serif;
}
